<form [formGroup]="form">
  <div class="form-row">
    <!-- <p>Form value: {{form.value | json}}</p> -->
    <!-- <p>Form valid: {{form.status | json}}</p> -->
    <div>
      <div class="my-2 form-group col-md-12">
        <img
          src="assets/imagemUpload.jpg"
          name="imagemUpload" width="400" height="400">
        <label></label>
        <input type="image" class="form-control" formControlName="imagemURL" placeholder="imagem">
      </div>
    </div>
    <div>
      <div class="p-3">
        <div class="form-row">
          <div class="form-group col-md-12">
            <label>Tema</label>
            <input type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.tema.errors && f.tema.touched}"
            formControlName="tema"
            placeholder="Insira o Tema">
            <div *ngIf="f.tema.errors?.required" class="invalid-feedback">
              Tema é obrigatorio.
            </div>
            <div *ngIf="f.tema.errors?.minlength" class="invalid-feedback">
              Tema deve ter no minimo 4 caracteres.
            </div>
            <div *ngIf="f.tema.errors?.maxlength" class="invalid-feedback">
              Tema deve ter no maximo 30 caracteres.
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-8">
            <label>Local</label>
            <input type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.local.errors && f.local.touched}"
            formControlName="local"
            placeholder="Insira o Local">
            <div *ngIf="f.local.errors?.required" class="invalid-feedback">Local é obrigatorio.</div>
          </div>

          <div class="form-group col-md-4">
            <label>Data e Hora</label>
            <input type="datetime"
            class="form-control"
            formControlName="dataEvento"
            [ngClass]="{'is-invalid': f.dataEvento.errors && f.dataEvento.touched}"
            placeholder="00/00/0000 00:00">
            <div *ngIf="f.dataEvento.errors?.required" class="invalid-feedback">Data é obrigatoria.</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Email</label>
            <input type="text"
            class="form-control"
            [ngClass]="{'is-invalid': f.email.errors && f.email.touched}"
            formControlName="email"
            placeholder="e-mail">
            <div *ngIf="f.email.errors?.required" class="invalid-feedback">Email obrigatorio.</div>
            <div *ngIf="f.email.errors?.email" class="invalid-feedback">Email tem formato invalido.</div>
          </div>
          <div class="form-group col-md-2">
            <label>Nº Pessoas</label>
            <input type=""
            class="form-control"
            [ngClass]="{'is-invalid': f.qtdPessoas.errors && f.qtdPessoas.touched}"
            formControlName="qtdPessoas"
            placeholder="">
          <div *ngIf="f.qtdPessoas.erros?.required" class="invalid-feedback">Nº Pessoas obrigatorio.</div>
          <div *ngIf="f.qtdPessoas.erros?.max" class="invalid-feedback">Nº Pessoas maximo são 20000.</div>
          </div>
          <div></div>
          <div class="form-group col-md-4">
            <label>Telefone</label>
            <input type="text"
            class="form-control"
            [ngClass]="{'is-invalid': form.get('telefone').errors && form.get('telefone').touched}"
            formControlName="telefone"
            placeholder="(00) 00000-0000">
            <!-- Other input and invalid messenge form, without FormBuilder -->
            <div *ngIf="form.get('telefone').hasError('required')" class="invalid-feedback">Telefone obrigatorio.</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer bg-black">
    <div class="d-flex">
      <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
        Cancelar
      </button>
      <button class="btn btn-outline-secondary text-white" [disabled]="!form.valid">
        <!-- <span class="spinner-border spinner-border-sm mr-1"></span> -->
        Salvar
      </button>
    </div>
  </div>
</form>
